PORT=3000
OPENAI_API_KEY=replace-with-your-openai-api-key
OPENAI_MODEL=gpt-4o-mini
VAST_BASE_URL=http://localhost:8080/v1
VAST_AUTH_URL=http://localhost:8080/auth
VAST_MODEL=replace-with-your-vast-model
SSH_HOST=replace-with-your-ssh-host
SSH_PORT=22
SSH_USERNAME=replace-with-your-ssh-username
SSH_PRIVATE_KEY_PATH=/path/to/private/key
BETTER_AUTH_SECRET=generate-key-in-better-auth-for-your-server
BETTER_AUTH_URL=Base-URL-of-your-app
POSTGRES_USER= user-name
POSTGRES_PASSWORD= user-password
POSTGRES_DB= database-schema
